html {
    overflow: hidden;
}

.shrimmy {
    transition: all 2s ease-out;
}

.shrimmy:hover {
    transform: scale(10) translateX(40%) translateY(5%);
}

.crash {
    transform: scale(1);
}

.crash:hover {
    cursor: wait;
}

.column {
    display: flex;
    flex-direction: column;
}

#pills {
    transform: scaleX(-1);
}

.secret {
    transition: all 2s ease-out;
}

.secret:hover {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg) scale(3) matrix(3);
}